.cartBots{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.eachCartBot{
    width: 80vw;
}
.cartQuantity{
    color: #d62828;
}
.cartFull{
    color: #5C7AEA;
}
.cartEmptyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartEmptyImage{
    height: 70vh;
}